body {
  font-family: Arial, sans-serif;
  text-align: center;
}
/* Styles de la grille de jeu */
.grid {
  display: grid;
  grid-template-columns: repeat(25, 28px); /* 25 cellules de large */
  grid-template-rows: repeat(15, 28px); /* 15 cellules de haut */
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}
/* Styles des cellules de la grille */
.cell {
  width: 28px;
  height: 28px;
  border: 2px solid white;
}

/* Styles pour les éléments du donjon : joueur, monstre, trésor, mur et sol */
.player {
  
  background-image: url(../img/player.png);
}
/* Style du monstre */
.monster {
  background-image: url(../img/monstre.png);
  
}
/* Style du trésor */
.treasure {
  background-image: url(../img/treasure.png);
}
/* Style du mur */
.wall {
  background-color: black;
}

/* Style des cellules vides (sol) */
.empty {
  background-color: white;
}

/* Style du message de bienvenue */
.message {
  background-color: rgba(228, 222, 222, 0.8);
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9999;
}

